<div id="<%= dom_id service %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Description:</strong>
    <%= service.description %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Service date:</strong>
    <%= service.service_date.strftime('%d/%m/%Y') %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "View", service, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_service_path(service), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Shuttles Available', service_shuttles_path(service), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Register Passenger', new_service_passenger_path(service), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
