<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
  <td><%= passenger.first_name %></td>
  <td><%= passenger.last_name %></td>
  <td><%= passenger.contact_number %></td>
  <td> <%= passenger.email %></td>
  <td> <%= passenger.number_of_seat %></td>
  <td>  
    <% if action_name != "show" %>
      <%= link_to "Details", passenger, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %> 
      <%= link_to 'Edit', edit_passenger_path(passenger), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </td>
</tr>
