<div id="<%= dom_id passenger %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Service:</strong>
    <%= passenger.service_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= passenger.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= passenger.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact number:</strong>
    <%= passenger.contact_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= passenger.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number of seat:</strong>
    <%= passenger.number_of_seat %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this passenger", passenger, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this passenger', edit_passenger_path(passenger), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
