<%= form_with(model: shuttle, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
  <% if shuttle.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(shuttle.errors.count, "error") %> prohibited this shuttle from being saved:</h2>

      <ul>
        <% shuttle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag 'service_id', shuttle.service_id %>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :setoff_time %>
    <%= form.time_field :setoff_time, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :max_capacity %>
    <%= form.number_field :max_capacity, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
